<!-- Navigation -->
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Page Heading
    <small>Secondary Text</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{producto.imagen}}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Description del Producto</h3>
      <p>{{producto.descripcion}}</p>
      <h3 class="my-3">Detalles del Producto</h3>
      <ul>
        <li>Precio: {{producto.precio}}</li>
        <li>Disponibles: {{producto.numeroProducto}}</li>
        <li>Lanzamiento: {{producto.fechaLanzamientoProducto}}</li>
        <li>Años de Garantia: {{producto.aniosGarantia}}</li>
      </ul>
    </div>
  </div>
 
  <Button  class="btn btn-primary" routerLink="/carrito/{{producto}}">Añadir al Carrito</Button>

</div>
<!-- /.container -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>