
.button-badge {
    background-color: #082033;
    text-decoration: none;
    padding: 0.001rem 0.01rem;
    position: relative;
    display: inline-block;
    border-radius: .1rem;
   transition: all ease 0.4s;
  }
  
  .button-badge:hover {
    box-shadow: 0 1px 5px rgba(182, 9, 18, 0.925);
  }
  
  .badge {
    position: absolute; 
  /*   top: -2px;
    right: -1px; */
    font-size: .3em;
  }
  
  .fa {
    color: rgb(238, 9, 9);
  }
  
  