 <!-- Navigation -->
 <div id="padre">

<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{tienda.nombres}}</h1> 

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="https://media.metrolatam.com/2017/06/12/captura-de-pantalla-20170612-a-las-8.11.24-p.m.-1200x600.jpg" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Direccion</h3>
      <p>{{tienda.direccion}}</p>
      <h3 class="my-3">Fecha de Apertura</h3>
      <p>{{tienda.fechaApertura}}</p>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Productos</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4" *ngFor="let producto of tienda.productos">
      <a href="/producto/{{producto.id}}">
        <img class="img-fluid" src="{{producto.imagen}}" alt="">
      </a>
    </div>


  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>
</div>