 <!-- Navigation -->
 <div id="padre">
<!-- Page Content -->
<div class="container">
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{tienda.nombres}}</h1> 
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="{{tienda.imagen}}" style="width:700px;height:300px;" alt="">
    </div>
    <div class="col-md-4">
      <h3 class="my-3">Direccion</h3>
      <p>{{tienda.direccion}}</p>
      <h3 class="my-3">Fecha de Apertura</h3>
      <p>{{tienda.fechaApertura}}</p>
    </div>
  </div>
  <!-- /.row -->
  <br/>
  <br/>
  <br/>
  <br/>
  <!-- Related Projects Row -->
  <h1 class="my-4">Productos</h1>

  <div class="row">

    <!-- <div class="col-md-3 col-sm-6 mb-4" *ngFor="let producto of tienda.productos"> -->
   <div class="col-md-4" *ngFor="let producto of tienda.productos">
      <a >
        <p-card   styleClass="ui-card-shadow"  title="{{producto.nombre}}" subtitle="Precio: {{producto.precio}}$">
          
          <p-header>
        <img class="img-fluid" src="{{producto.imagen}}" style="width:300px;height:150px;" alt="">
      </p-header>
     {{producto.descripcion}}
        <p-footer>
            <button pButton type="button" label="Ver mas" icon="pi pi-check" style="margin-right: .25em" routerLink="producto/{{producto.id}}"></button>
      </p-footer>
      </p-card>
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>
<br/>
<br/>
<br/>
<hr>
<br/>
<br/>
<br/>

<router-outlet></router-outlet>

<!-- /.container -->






<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>
</div>