<h3>Productos</h3>
<div class="row">
  <div *ngFor="let producto of productos; let i = index" class="col-1-4">
    <!-- <div  *ngIf="i < 6"  > -->
        <mat-card class="example-card" style="width:300px;height: 200px;background-color:aquamarine">
          <mat-card-header>
            <mat-card-title>{{producto.nombre}}</mat-card-title>
           </mat-card-header>
          <img mat-card-image src="{{producto.imagen}}" style="width:300px;height:150px;">
          <mat-card-content style="height:50px">
            <p>{{producto.descripcion}}</p>
          </mat-card-content>
          <mat-card-actions style="width:300px;background-color:aquamarine">
            <button mat-button routerLink="/producto/{{producto.id}}">Ver Mas</button>
          </mat-card-actions>
        </mat-card>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
       
    <!-- </div> -->
  </div>
  </div>
 